{% extends 'bus/base.html' %}

{% block body %}

<p  text-transform="uppercase"><strong>{{request.user.username}} Following Are Your Selected Trip Details </strong></p>

<form action="{% url 'bus:confirm' %}" method="post" >{%csrf_token%}
    <input type="hidden" name="bid" value="{{busid}}">
    `<table style="width:80%" border="1px solid black" >
            <tr>
                <th>Bus_name</th>
                <th>Depart_Location</th>
                <th>Arrival_Location</th>
                <th>Depart_Date</th>
                <th>Depart_Time</th>
                <th>Arrival_Date</th>
                <th>Arrival_Time</th>
                <th>Ticket_cost</th>
            </tr>
            {%for sbus in selectedbus%}
                <tr>
                    <td>{{sbus.Bus_name}}</td>
                    <td>{{sbus.Depart_Location}}</td>
                    <td>{{sbus.Arrival_Location}}</td>
                    <td>{{sbus.Depart_Date}}</td>
                    <td>{{sbus.Depart_Time}}</td>
                    <td>{{sbus.Arrival_Date}}</td>
                    <td>{{sbus.Arrival_Time}}</td>
                    <td>{{sbus.Ticket_cost}}</td>
                </tr>
            {%endfor%}
        </table>

    <br>
    <p><strong>Enter and confirm your Booking Details</strong></p>
    <br>

    Name : <input type="text" value="{{request.user.username}}" name = "bname">
    Email-id : <input type="text" value="{{request.user.email}}" name="bemail">
    No.of Seats : <input type="text" value="" name="bseats"  for="seats">

    <br>

    <br><input type="submit" value="Confirm / Book">

</form>
{% endblock %}